<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySite</title>
</head>
<body>
<h1>Welcome to Text Analyzer</h1>

<a href="http://127.0.0.1:8000/about">About</a>
<br>
Enter your text below:
<form action="/removepunc" method="get">
    <textarea name="text" style="margin: 0px; width: 1083px; height: 162px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc_check">Remove Punctuations
    <br>
    <button type="submit">Analyze</button>
</form>
</body>
</html>